* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  /* background: linear-gradient(to right, #0066ff, #007bff); */
  background: linear-gradient(135deg, #e0f7fa, #b2f2cb);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  width: 180vh;
  max-width: 950px;
  border-radius: 15%;
  background: linear-gradient(135deg, #e0f7fa, #b2f2cb);
  overflow: hidden;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.08);
}

.container-circle {
  display: flex;
  width: 800px;
  max-width: 800px;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
}

/* LEFT PANEL */
.left-panel {
  position: relative;
  flex: 1;
  background: linear-gradient(135deg, #80e6c0, #96b7b9);
  /* color: white; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-bottom-right-radius: 100%;
}

/* Welcome Text */
.text-content {
  position: relative;
  z-index: 2;
  letter-spacing: 5px;
  margin: -200px 0 0 -50px;
}

.text-content h2 {
  font-size: 28px;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.text-content p {
  font-size: 14px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* BUBBLES */
.bubble {
  position: absolute;
  background: rgb(72, 147, 233);
  border-radius: 50%;
  z-index: 11;
}

.circle-center {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(circle at 30% 30%, #70d3e0, #609bdf);
  box-shadow: 
    inset -10px -10px 30px rgba(255, 255, 255, 0.2),
    inset 10px 10px 30px rgba(0, 0, 0, 0.4),
    0 20px 30px rgba(0, 0, 0, 0.3);
  transform: rotateX(20deg) rotateY(10deg);
  left: 10%;
  top: 10%;
}

.circle-bottom-left {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: radial-gradient(circle at 30% 30%, #70d3e0, #609bdf);
  box-shadow: 
    inset -10px -10px 30px rgba(255, 255, 255, 0.2),
    inset 10px 10px 30px rgba(0, 0, 0, 0.4),
    0 20px 30px rgba(0, 0, 0, 0.6);
  transform: rotateX(20deg) rotateY(10deg);
  bottom: 0px;
  left: -40px;
}

.circle-center-right {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(circle at 30% 30%, #70d3e0, #609bdf);
  box-shadow: 
    inset -10px -10px 30px rgba(255, 255, 255, 0.2),
    inset 10px 10px 30px rgba(0, 0, 0, 0.4),
    0 20px 30px rgba(0, 0, 0, 0.3);
  transform: rotateX(20deg) rotateY(10deg);
  bottom: 10%;
  right: 10%;
}

.circle-bottom-right {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: radial-gradient(circle at 30% 30%, #70d3e0, #609bdf);
  box-shadow: 
    inset -10px -10px 30px rgba(255, 255, 255, 0.2),
    inset 10px 10px 30px rgba(0, 0, 0, 0.4),
    0 20px 30px rgba(0, 0, 0, 0.4);
  transform: rotateX(20deg) rotateY(10deg);
  top: 0px;
  right: 0px;
}

/* RIGHT PANEL */
.right-panel {
  flex: 1;
  background: linear-gradient(to right, #ffffff, #ffffff, #b2f2cb);
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-panel h2 {
  margin-bottom: 25px;
  font-size: 26px;
  color: #222;
  letter-spacing: 5px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}

.input-box {
  margin-bottom: 20px;
}

.input-box label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.input-box input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.options {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin-bottom: 20px;
  align-items: center;
}

.options a {
  color: #007bff;
  text-decoration: none;
}

.btn {
  width: 100%;
  padding: 12px;
  background: -webkit-linear-gradient(left, #ffffff, #c7d8d2d3, #b2f2cb);
  border: none;
  border-radius: 6px;
  font-size: 15px;
  letter-spacing: 3px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
  transition: all 0.5s ease;
}

.btn:hover {
  background: -webkit-linear-gradient(left, #ffffff, #bbbbbb, #b2f2cb);
  font-weight: bolder;
  font-size: 17px;
}

.btn.alt {
  background: #6c757d;
}

.btn.alt:hover {
  background: #545b62;
}

.footer {
  font-size: 13px;
  text-align: center;
  margin-top: 15px;
}

.footer a {
  color: #007bff;
  text-decoration: none;
}

/* RESPONSIVE */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    width: 90%;
    margin: 20px 0;
  }

  .left-panel,
  .right-panel {
    width: 100%;
    padding: 30px;
  }

  .curve,
  .circle-center,
  .circle-bottom-left {
    display: none;
  }
}
