nav{
    background: linear-gradient(115deg, #80aab4, #6AB187);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav .nav-item a{
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
}
nav .dropdown-item{
  background: linear-gradient(115deg, #6c8085, #6AB187);
}
.nav-item a:hover{
  font-weight: bold;
  background: linear-gradient(to left, #d0dbd2, #cae2d5);
}
.nav2{
  transition: all 0.5s ease;
}
.image img{
    width: 50px;
    height: 40px;
}
.image span{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 3px;
    font-size: 22px !important;
}

.rightcontent{
    height: 40px;
    width: 500px;
    display: flex;
    justify-content: right;
    text-align: center;
    margin-right: 10px;
    margin-top: 5px;
}

.rightcontent i{
  scale: 1.7;
  color: rgb(255, 152, 138);
  margin-top: 8px;
}

.rightcontent .wel{
  scale: 1;
  margin-right: 30px;
  color: rgb(227, 235, 250);
  font-style: italic;
}